

@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --roxo-appolo: #7700ff;
    --roxo-claro: #9f58ff;
    --branco: #fff;
  }


.hero-section {
    min-height: 100vh !important; 
    display: flex !important;
    align-items: center !important;
  }
  

.cadastro-container {
    display: flex;
    min-height: 100vh !important; 

}

.left-illustration {
    flex: 1;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-illustration img {
    max-width: 60%;
    padding-top: 60px !important;
    height: auto;
}



.form-section {
    flex: 1;
    background-color: var(--roxo-appolo);
    background-size: cover !important;
    color: white;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    padding: 60px 50px;
    max-width: 600px !important;
}

.form-title {
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: 50px ;
    font-weight: bold;
    text-align: center;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="password"] {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 20px;
    border-radius: 6px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

.gender-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.gender-options label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.submit-btn {
    width: 100% !important;
    padding: 14px;
    font-size: 16px;
    background: white;
    color: #8000ff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.3s ;
}

.submit-btn:hover {
    color: #eee8f7 !important;
    background: #9357cf;
    border: var(--branco) !important;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px;
}

.cadastro-button {
    width: 220px !important;
    border: 15px !important;
    padding: 10px !important;
    border-radius: 30px !important;
    background-color: white;
    color: var(--roxo-appolo);
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s ;
}

.cadastro-button:hover {
    color: #eee8f7 !important;
    background: #9357cf;
    border: var(--branco) !important;
}


.login-link {
    margin-top: 20px;
    text-align: center;
}

.login-link a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.footer-custom {
    background-color: var(--roxo-appolo) !important ;
    color: var(--branco) !important;
  }
  
  .footer-custom i {
    color: white !important;
    transition: 0.3s !important;
  }
  
  .footer-custom i:hover {
    color: var(--roxo-claro) !important;
  }
  


    
.navbar {
    background-color: none !important;
    height: 100px !important;
    /* margin: 15px;
    padding: 1rem !important;
    border-radius: 15px; */
}

.navbar-brand {
    color : #7000FF !important; 
    font-family: 'Medula one' !important ;
    font-size: 4rem !important;
    border-left: 100px !important;
    padding: 50px !important;
    transition: 0.3s    color;
}

.navbar-brand:hover {
    color: #7e54b4 !important;
}

.login-button { 
    background-color: #9b63e4 !important;
    color: antiquewhite !important;
    font-size: 15px !important;
    padding: 8px 20px !important;
    border-radius: 25px  !important;
    text-decoration: none !important;
    transition: 0.3s background-color !important;
    border: 50px !important;
}

.login-button:hover {
    background-color: #ab7aeb !important;
}

.navbar-toggler {
    border: none !important;
    font-size: 1.25rem !important;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none !important;
    outline: none !important;
}

.nav-link {
    color: #544468 !important;
    font-weight: 500 !important;
    position: relative !important; 
    font-family: "Jost", sans-serif !important;
    font-size: 1.2rem !important;
}

.nav-link:hover , .nav-link:active {
    color: rgb(56, 35, 65) !important;
}

.offcanvas-title {
    color : #7000FF; 
    font-family: 'Medula one' !important ;
    font-size: 2.5rem !important;
    border-left: 100px !important;
    transition: 0.3s    color;
}


.btn-outline-custom {
    border: 2px solid #7000FF !important;
    color: var(--roxo-appolo) !important;
    border-radius: 20px !important;
    padding: 6px 18px !important;
    font-weight: 500 !important;
  }
  
  .btn-outline-custom:hover {
    background-color: #7000FF !important;
    color: var(--branco) !important;
  }
  
  .btn-primary-custom {
    background-color: #7000FF !important;
    border: none !important;
    color: white !important;
    border-radius: 20px !important;
    padding: 8px 18px !important;
    font-weight: 500 !important;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2) !important;
  }
  
  .btn-primary-custom:hover {
    background-color: var(--roxo-claro) !important ;
  }


#li-nav {
    list-style-type: none !important; 
    padding-right: 20px !important;
    
}

#formulario-login {
    font-family: "Jost", sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-item {
    bottom: 0 !important;
    padding-top: 20px !important;
}


.footer-custom {
    background-color: var(--roxo-appolo) !important ;
    color: var(--branco) !important;
  }
  
  .footer-custom i {
    color: white !important;
    transition: 0.3s !important;
  }
  
  .footer-custom i:hover {
    color: var(--roxo-claro) !important;
  }
  




@media (min-width: 990px) {
    .nav-link::before{
        content: "" !important;
        position: absolute !important;
        bottom: 0 !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        width: 0 !important;
        height: 2px !important;
        background-color: #ab7aeb !important;
        visibility: hidden !important;
        transition: 0.3s ease-in-out !important;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100% !important;
        visibility: visible !important;
    }

  
}

@media screen and (max-width: 991px) {

    .navbar {
        padding: 0.3rem !important;

    }

    .navbar-brand {
        padding: 5px !important;
        padding-left: 20px !important;
    }

    .left-illustration {
        display: none !important;
    }

    
#li-nav {
  border-bottom: 60px !important;
  padding-bottom: 20px !important;

}
}


