/* 

.banner {
    background-size: cover !important;
    width: 100% !important;
    height: 100% !important;
}

.imagem {
    max-height: 1200px;
    padding-top: 50px ;
}

.container .imagem {
    height: 100vh;
    z-index: 1;
    position: relative;
} */