@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


.navbar {
    background-color: rgb(248, 240, 250);
    height: 80px;
    margin: 15px;
    padding: 1rem !important;
    border-radius: 15px;
}

.navbar-brand {
    color : #432964; 
    font-family: 'Medula one' !important ;
    font-size: 2.5rem !important;
    border-left: 100px !important;
    transition: 0.3s    color;
}

.navbar-brand:hover {
    color: #7e54b4 !important;
}

.login-button { 
    background-color: #9b63e4;
    color: antiquewhite;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 25px ;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #ab7aeb;
}

.navbar-toggler {
    border: none !important;
    font-size: 1.25rem !important;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none !important;
    outline: none !important;
}

.nav-link {
    color: #544468 !important;
    font-weight: 500 !important;
    position: relative !important; 
    font-family: "Jost", sans-serif !important;
    font-size: 1.2rem !important;
}

.nav-link:hover , .nav-link:active {
    color: rgb(56, 35, 65) !important;
}

.offcanvas-title {
    color : #40364e; 
    font-family: 'Medula one' !important ;
    font-size: 2.5rem !important;
    border-left: 100px !important;
    transition: 0.3s    color;
}



@media (min-width: 990px) {
    .nav-link::before{
        content: "" !important;
        position: absolute !important;
        bottom: 0 !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        width: 0 !important;
        height: 2px !important;
        background-color: #ab7aeb !important;
        visibility: hidden !important;
        transition: 0.3s ease-in-out !important;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100% !important;
        visibility: visible !important;
    }

  
}

@media screen and (max-width: 991px) {

    .navbar {
        padding: 0.3rem !important;
    }
}


